.btn, .footer .container .row .letter button::after, .find .container .content .content-right .form button::after, .header .container .row .contact .number-btn::after {
  position: absolute;
  content: "";
  left: 28%;
  top: 28%;
  width: 50%;
  height: 50%;
  border: none;
  border-radius: 20px;
  transform: scale(1, 0);
  transition: all 0.3s;
}

.hover_button, .footer .container .row .letter button:hover::after, .find .container .content .content-right .form button:hover::after, .header .container .row .contact .number-btn:hover::after {
  transform: scale(1, 1);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.container {
  width: 1200px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}

.btn, .footer .container .row .letter button::after, .find .container .content .content-right .form button::after, .header .container .row .contact .number-btn::after {
  position: absolute;
  content: "";
  left: 28%;
  top: 28%;
  width: 50%;
  height: 50%;
  border: none;
  border-radius: 20px;
  transform: scale(1, 0);
  transition: all 0.3s;
}

.hover_button, .footer .container .row .letter button:hover::after, .find .container .content .content-right .form button:hover::after, .header .container .row .contact .number-btn:hover::after {
  transform: scale(1, 1);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn, .footer .container .row .letter button::after, .find .container .content .content-right .form button::after, .header .container .row .contact .number-btn::after {
  position: absolute;
  content: "";
  left: 28%;
  top: 28%;
  width: 50%;
  height: 50%;
  border: none;
  border-radius: 20px;
  transform: scale(1, 0);
  transition: all 0.3s;
}

.hover_button, .footer .container .row .letter button:hover::after, .find .container .content .content-right .form button:hover::after, .header .container .row .contact .number-btn:hover::after {
  transform: scale(1, 1);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.header {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  .header {
    max-width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .header .container {
    max-width: 80%;
  }
}
@media screen and (max-width: 1200px) {
  .header .container {
    max-width: 80%;
  }
}
@media screen and (max-width: 1200px) {
  .header .container {
    max-width: 80%;
  }
}
.header .container .row {
  align-items: center;
}
.header .container .row .logo {
  padding: 0;
}
.header .container .row .logo img {
  width: 80px;
}
.header .container .row .menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .row .menu ul li {
  padding: 1rem;
  position: relative;
  transition: all 0.3s;
}
.header .container .row .menu ul li a {
  color: #000000;
  font-size: 13px;
  font-weight: 800;
  transition: all 0.3s;
}
.header .container .row .menu ul li:hover::after {
  position: absolute;
  content: "";
  left: 40%;
  bottom: 0;
  width: 10px;
  height: 10px;
  background-color: #b61984;
  border-radius: 50%;
}
.header .container .row .menu ul li:hover a {
  color: #b61984;
}
.header .container .row .menu ul li .active::after {
  position: absolute;
  content: "";
  left: 40%;
  bottom: 0;
  width: 10px;
  height: 10px;
  background-color: #b61984;
  border-radius: 50%;
}
.header .container .row .contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .row .contact .number-btn {
  background-color: #b61984;
  border: 1px solid #b61984;
  padding: 0.67rem 1rem;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  color: #ffffff;
}
.header .container .row .contact .number-btn:hover {
  color: #b61984;
}
.header .container .row .contact .number-btn::after {
  background-color: #ffffff;
  color: #b61984;
}
.header .container .row .contact .number-btn i,
.header .container .row .contact .number-btn span {
  position: relative;
  z-index: 2;
}
.header .container .row .contact .social a {
  color: #000000;
  margin: 0 5px;
  font-size: 16px;
}
.header .container .row .contact .social a:hover {
  color: #b61984;
}

.body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.container {
  width: 1200px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}

.btn, .footer .container .row .letter button::after, .find .container .content .content-right .form button::after, .header .container .row .contact .number-btn::after {
  position: absolute;
  content: "";
  left: 28%;
  top: 28%;
  width: 50%;
  height: 50%;
  border: none;
  border-radius: 20px;
  transform: scale(1, 0);
  transition: all 0.3s;
}

.hover_button, .footer .container .row .letter button:hover::after, .find .container .content .content-right .form button:hover::after, .header .container .row .contact .number-btn:hover::after {
  transform: scale(1, 1);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn, .footer .container .row .letter button::after, .find .container .content .content-right .form button::after, .header .container .row .contact .number-btn::after {
  position: absolute;
  content: "";
  left: 28%;
  top: 28%;
  width: 50%;
  height: 50%;
  border: none;
  border-radius: 20px;
  transform: scale(1, 0);
  transition: all 0.3s;
}

.hover_button, .footer .container .row .letter button:hover::after, .find .container .content .content-right .form button:hover::after, .header .container .row .contact .number-btn:hover::after {
  transform: scale(1, 1);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.bg-img, .footer .bg-img, .footer .carousel, .footer .carousel .bg-img, .carousel .footer .bg-img, .footer .carousel .carousel, .carousel .footer .carousel, .footer .carousel .footer .bg-img, .footer .carousel .footer .carousel, .carousel .footer .carousel .bg-img, .carousel .footer .carousel .carousel, .carousel .bg-img, .carousel .footer .bg-img, .footer .carousel .bg-img, .carousel .footer .carousel, .footer .carousel .carousel, .footer .carousel .bg-img, .carousel .footer .bg-img, .footer .carousel .carousel, .carousel .footer .carousel, .carousel {
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.carousel {
  background-image: url(../../images/yellow_top_wave_01.png);
  width: 100%;
  padding: 60px 0;
  position: relative;
}
.carousel .container .row {
  align-items: center;
}
.carousel .container .row .content-left p {
  color: #b61984;
  font-weight: 600;
  margin-bottom: 20px;
}
.carousel .container .row .content-left h3 {
  font-size: 60px;
  font-weight: 900;
}
.carousel .bg-img, .carousel .footer .bg-img, .footer .carousel .bg-img, .carousel .footer .carousel, .footer .carousel .carousel, .footer .carousel .bg-img, .carousel .footer .bg-img, .footer .carousel .carousel, .carousel .footer .carousel, .footer .carousel .footer .bg-img, .footer .carousel .footer .carousel, .carousel .footer .carousel .bg-img, .carousel .footer .carousel .carousel, .carousel .carousel {
  background-image: url(../../images/Violet_top_left_wave.png);
  height: 250px;
  position: absolute;
  top: 67%;
}

.body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.container {
  width: 1200px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}

.btn, .footer .container .row .letter button::after, .find .container .content .content-right .form button::after, .header .container .row .contact .number-btn::after {
  position: absolute;
  content: "";
  left: 28%;
  top: 28%;
  width: 50%;
  height: 50%;
  border: none;
  border-radius: 20px;
  transform: scale(1, 0);
  transition: all 0.3s;
}

.hover_button, .footer .container .row .letter button:hover::after, .find .container .content .content-right .form button:hover::after, .header .container .row .contact .number-btn:hover::after {
  transform: scale(1, 1);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn, .footer .container .row .letter button::after, .find .container .content .content-right .form button::after, .header .container .row .contact .number-btn::after {
  position: absolute;
  content: "";
  left: 28%;
  top: 28%;
  width: 50%;
  height: 50%;
  border: none;
  border-radius: 20px;
  transform: scale(1, 0);
  transition: all 0.3s;
}

.hover_button, .footer .container .row .letter button:hover::after, .find .container .content .content-right .form button:hover::after, .header .container .row .contact .number-btn:hover::after {
  transform: scale(1, 1);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.bg-img, .footer .bg-img, .footer .carousel, .footer .carousel .bg-img, .carousel .footer .bg-img, .footer .carousel .carousel, .carousel .footer .carousel, .footer .carousel .footer .bg-img, .footer .carousel .footer .carousel, .carousel .footer .carousel .bg-img, .carousel .footer .carousel .carousel, .carousel, .carousel .bg-img, .carousel .footer .bg-img, .footer .carousel .bg-img, .carousel .footer .carousel, .footer .carousel .carousel, .footer .carousel .bg-img, .carousel .footer .bg-img, .footer .carousel .carousel, .carousel .footer .carousel {
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.about {
  background-color: #dcd1f0;
  padding: 1rem 0;
  position: relative;
  width: 100%;
}
.about .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2.25rem;
}
.about .container .card {
  border-radius: 15px;
  border: none;
  z-index: 3;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  transition: all 650ms ease-in-out;
}
.about .container .card:hover {
  box-shadow: 0px 7px 18px -4px rgba(0, 0, 0, 0.7);
}
.about .container .card .card-img {
  transition: all 650ms ease-in-out;
  overflow: hidden;
}
.about .container .card .card-img:hover img {
  transform: scale(1.1);
  transition: all 650ms ease-in-out;
}
.about .container .card .card-img img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.about .container .card .card-info {
  margin: 30px 0;
  padding: 0 25px;
  text-align: center;
}
.about .container .card .card-info .title {
  color: #b61984;
  font-size: 13px;
  font-weight: 900;
}
.about .container .card .card-info h3 {
  font-size: 20px;
  font-weight: 900;
}
.about .container .card .card-info p {
  font-size: 13px;
  font-weight: 600;
}
.about .bg-img, .about .footer .bg-img, .footer .about .bg-img, .about .footer .carousel, .footer .about .carousel, .about .footer .carousel .bg-img, .footer .carousel .about .bg-img, .about .carousel .footer .bg-img, .carousel .footer .about .bg-img, .about .footer .carousel .carousel, .footer .carousel .about .carousel, .about .carousel .footer .carousel, .carousel .footer .about .carousel, .about .carousel {
  background-image: url(../../images/Wave_White_bottom_right_shape_01.png);
  height: 380px;
  position: absolute;
  top: 53%;
}

.body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.container {
  width: 1200px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}

.btn, .footer .container .row .letter button::after, .find .container .content .content-right .form button::after, .header .container .row .contact .number-btn::after {
  position: absolute;
  content: "";
  left: 28%;
  top: 28%;
  width: 50%;
  height: 50%;
  border: none;
  border-radius: 20px;
  transform: scale(1, 0);
  transition: all 0.3s;
}

.hover_button, .footer .container .row .letter button:hover::after, .find .container .content .content-right .form button:hover::after, .header .container .row .contact .number-btn:hover::after {
  transform: scale(1, 1);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn, .footer .container .row .letter button::after, .find .container .content .content-right .form button::after, .header .container .row .contact .number-btn::after {
  position: absolute;
  content: "";
  left: 28%;
  top: 28%;
  width: 50%;
  height: 50%;
  border: none;
  border-radius: 20px;
  transform: scale(1, 0);
  transition: all 0.3s;
}

.hover_button, .footer .container .row .letter button:hover::after, .find .container .content .content-right .form button:hover::after, .header .container .row .contact .number-btn:hover::after {
  transform: scale(1, 1);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.bg-img, .footer .bg-img, .footer .carousel, .footer .carousel .bg-img, .carousel .footer .bg-img, .footer .carousel .carousel, .carousel .footer .carousel, .footer .carousel .footer .bg-img, .footer .carousel .footer .carousel, .carousel .footer .carousel .bg-img, .carousel .footer .carousel .carousel, .carousel, .carousel .bg-img, .carousel .footer .bg-img, .footer .carousel .bg-img, .carousel .footer .carousel, .footer .carousel .carousel, .footer .carousel .bg-img, .carousel .footer .bg-img, .footer .carousel .carousel, .carousel .footer .carousel {
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.input, .find .container .content .content-right .form .btContact .btRight, .find .container .content .content-right .form .btContact .btLeft {
  margin: 1.5rem 0;
  position: relative;
}
.input i, .find .container .content .content-right .form .btContact .btRight i, .find .container .content .content-right .form .btContact .btLeft i {
  position: absolute;
  top: 33%;
  left: 15%;
  font-size: 13px;
  color: #b61984;
  margin-right: 0.67rem;
}
.input input, .find .container .content .content-right .form .btContact .btRight input, .find .container .content .content-right .form .btContact .btLeft input {
  border: none;
  padding: 0.67rem 0;
  padding-left: 3.38rem;
  border-radius: 30px;
  border: 1px solid #e5e5e5;
  font-size: 13px;
}

.select, .find .container .content .content-right .form .select {
  position: relative;
  margin-bottom: 1.5rem;
}
.select i, .find .container .content .content-right .form .select i {
  position: absolute;
  top: 33%;
  left: 10%;
  font-size: 13px;
  color: #b61984;
  margin-right: 0.67rem;
}
.select select, .find .container .content .content-right .form .select select {
  border: none;
  padding: 0.67rem 0;
  padding-left: 3.38rem;
  border-radius: 30px;
  border: 1px solid #e5e5e5;
  font-size: 13px;
  color: #798282;
}

.message, .find .container .content .content-right .form .message {
  margin: 1.5rem 0;
  position: relative;
}
.message i, .find .container .content .content-right .form .message i {
  position: absolute;
  top: 13%;
  left: 10%;
  font-size: 13px;
  color: #b61984;
  margin-right: 0.67rem;
}
.message textarea, .find .container .content .content-right .form .message textarea {
  padding-top: 8px;
  padding-left: 3.38rem;
  font-size: 13px;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  height: 100px;
}

.find {
  position: relative;
  margin-top: 5.06rem;
}
.find .container {
  width: 1000px;
  position: relative;
  z-index: 1;
}
.find .container .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.find .container .content .content-left {
  width: 60%;
}
.find .container .content .content-right {
  padding: 30px 0;
  width: 40%;
  box-shadow: 0px 7px 18px -4px rgba(0, 0, 0, 0.7);
  background-color: #ffffff;
  border-radius: 10px;
}
.find .container .content .content-right h3 {
  font-size: 36px;
  font-weight: 900;
}
.find .container .content .content-right .form {
  width: 80%;
  margin: 0 auto;
}
.find .container .content .content-right .form .btContact {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.find .container .content .content-right .form .btContact .btLeft {
  margin-right: 20px;
}
.find .container .content .content-right .form .btContact .btLeft input {
  width: 100%;
}
.find .container .content .content-right .form .btContact .btRight input {
  width: 100%;
}
.find .container .content .content-right .form .select select, .find .container .content .content-right .form .select select {
  width: 100%;
}
.find .container .content .content-right .form .message textarea, .find .container .content .content-right .form .message textarea {
  width: 100%;
}
.find .container .content .content-right .form button {
  background-color: #b61984;
  border: 1px solid #b61984;
  padding: 0.67rem 1rem;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  color: #ffffff;
}
.find .container .content .content-right .form button:hover {
  color: #b61984;
}
.find .container .content .content-right .form button::after {
  background-color: #ffffff;
  color: #b61984;
}
.find .container .content .content-right .form button span {
  z-index: 2;
  position: relative;
  margin: 0 1.5rem;
}
.find .bg-img, .find .footer .bg-img, .footer .find .bg-img, .find .footer .carousel, .footer .find .carousel, .find .footer .carousel .bg-img, .footer .carousel .find .bg-img, .find .carousel .footer .bg-img, .carousel .footer .find .bg-img, .find .footer .carousel .carousel, .footer .carousel .find .carousel, .find .carousel .footer .carousel, .carousel .footer .find .carousel, .find .footer .carousel .footer .bg-img, .footer .carousel .footer .find .bg-img, .find .footer .carousel .footer .carousel, .footer .carousel .footer .find .carousel, .find .carousel .footer .carousel .bg-img, .carousel .footer .carousel .find .bg-img, .find .carousel .footer .carousel .carousel, .carousel .footer .carousel .find .carousel, .find .carousel, .find .carousel .bg-img, .find .carousel .footer .bg-img, .footer .find .carousel .bg-img, .find .carousel .footer .carousel, .footer .find .carousel .carousel, .find .footer .carousel .bg-img, .footer .find .carousel .bg-img, .find .carousel .footer .bg-img, .find .footer .carousel .carousel, .footer .find .carousel .carousel, .find .carousel .footer .carousel, .find .footer .carousel .footer .bg-img, .footer .find .carousel .footer .bg-img, .find .footer .carousel .footer .carousel, .footer .find .carousel .footer .carousel, .find .carousel .footer .carousel .bg-img, .find .carousel .footer .carousel .carousel, .carousel .find .bg-img, .carousel .find .footer .bg-img, .footer .carousel .find .bg-img, .carousel .find .footer .carousel, .footer .carousel .find .carousel, .footer .carousel .find .bg-img, .carousel .find .footer .bg-img, .carousel .footer .find .bg-img, .footer .carousel .find .carousel, .carousel .find .footer .carousel, .carousel .footer .find .carousel, .footer .carousel .find .footer .bg-img, .footer .carousel .footer .find .bg-img, .footer .carousel .find .footer .carousel, .footer .carousel .footer .find .carousel, .carousel .find .footer .carousel .bg-img, .carousel .footer .carousel .find .bg-img, .carousel .find .footer .carousel .carousel, .carousel .footer .carousel .find .carousel, .find .carousel .carousel, .carousel .find .carousel {
  background-image: url(../../images/accent_bottom_wave_01.png);
  background-position: center;
  background-size: cover;
  height: 380px;
  position: absolute;
  top: 38%;
  width: 100%;
}

.body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.container {
  width: 1200px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}

.btn, .footer .container .row .letter button::after, .header .container .row .contact .number-btn::after, .find .container .content .content-right .form button::after {
  position: absolute;
  content: "";
  left: 28%;
  top: 28%;
  width: 50%;
  height: 50%;
  border: none;
  border-radius: 20px;
  transform: scale(1, 0);
  transition: all 0.3s;
}

.hover_button, .footer .container .row .letter button:hover::after, .header .container .row .contact .number-btn:hover::after, .find .container .content .content-right .form button:hover::after {
  transform: scale(1, 1);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn, .footer .container .row .letter button::after, .header .container .row .contact .number-btn::after, .find .container .content .content-right .form button::after {
  position: absolute;
  content: "";
  left: 28%;
  top: 28%;
  width: 50%;
  height: 50%;
  border: none;
  border-radius: 20px;
  transform: scale(1, 0);
  transition: all 0.3s;
}

.hover_button, .footer .container .row .letter button:hover::after, .header .container .row .contact .number-btn:hover::after, .find .container .content .content-right .form button:hover::after {
  transform: scale(1, 1);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.bg-img, .footer .bg-img, .footer .carousel, .footer .carousel .bg-img, .carousel .footer .bg-img, .footer .carousel .carousel, .carousel .footer .carousel, .footer .carousel .footer .bg-img, .footer .carousel .footer .carousel, .carousel .footer .carousel .bg-img, .carousel .footer .carousel .carousel, .carousel, .carousel .bg-img, .carousel .footer .bg-img, .footer .carousel .bg-img, .carousel .footer .carousel, .footer .carousel .carousel, .footer .carousel .bg-img, .carousel .footer .bg-img, .footer .carousel .carousel, .carousel .footer .carousel {
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.input, .find .container .content .content-right .form .btContact .btLeft, .find .container .content .content-right .form .btContact .btRight {
  margin: 1.5rem 0;
  position: relative;
}
.input i, .find .container .content .content-right .form .btContact .btLeft i, .find .container .content .content-right .form .btContact .btRight i {
  position: absolute;
  top: 33%;
  left: 15%;
  font-size: 13px;
  color: #b61984;
  margin-right: 0.67rem;
}
.input input, .find .container .content .content-right .form .btContact .btLeft input, .find .container .content .content-right .form .btContact .btRight input {
  border: none;
  padding: 0.67rem 0;
  padding-left: 3.38rem;
  border-radius: 30px;
  border: 1px solid #e5e5e5;
  font-size: 13px;
}

.select, .find .container .content .content-right .form .select {
  position: relative;
  margin-bottom: 1.5rem;
}
.select i, .find .container .content .content-right .form .select i {
  position: absolute;
  top: 33%;
  left: 10%;
  font-size: 13px;
  color: #b61984;
  margin-right: 0.67rem;
}
.select select, .find .container .content .content-right .form .select select {
  border: none;
  padding: 0.67rem 0;
  padding-left: 3.38rem;
  border-radius: 30px;
  border: 1px solid #e5e5e5;
  font-size: 13px;
  color: #798282;
}

.message, .find .container .content .content-right .form .message {
  margin: 1.5rem 0;
  position: relative;
}
.message i, .find .container .content .content-right .form .message i {
  position: absolute;
  top: 13%;
  left: 10%;
  font-size: 13px;
  color: #b61984;
  margin-right: 0.67rem;
}
.message textarea, .find .container .content .content-right .form .message textarea {
  padding-top: 8px;
  padding-left: 3.38rem;
  font-size: 13px;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  height: 100px;
}

.footer-item h3, .footer .container .row .letter h3, .footer .container .row .abouts-footer h3, .footer .container .row .link h3, .footer .container .row .contacts h3 {
  font-size: 20px;
  font-weight: 900;
  color: #ffffff;
  margin: 30px 0;
}
.footer-item ul, .footer .container .row .letter ul, .footer .container .row .abouts-footer ul, .footer .container .row .link ul, .footer .container .row .contacts ul {
  padding: 0;
}
.footer-item ul li, .footer .container .row .letter ul li, .footer .container .row .abouts-footer ul li, .footer .container .row .link ul li, .footer .container .row .contacts ul li {
  font-size: 13px;
  color: #ffffff;
  margin: 15px 0;
}
.footer-item ul li a, .footer .container .row .letter ul li a, .footer .container .row .abouts-footer ul li a, .footer .container .row .link ul li a, .footer .container .row .contacts ul li a {
  color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}
.footer-item ul li a:hover, .footer .container .row .letter ul li a:hover, .footer .container .row .abouts-footer ul li a:hover, .footer .container .row .link ul li a:hover, .footer .container .row .contacts ul li a:hover {
  color: #e1e1e2;
}

.footer {
  margin-top: 20px;
  position: relative;
}
.footer .container .row .contacts .social a {
  color: #ffffff;
  margin: 0 5px;
  font-size: 16px;
}
.footer .container .row .contacts .social a:hover {
  color: #000000;
}
.footer .container .row .letter {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.footer .container .row .letter button {
  background-color: #ffffff;
  border: 1px solid #b61984;
  padding: 0.67rem 1rem;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  color: #000000;
  border: 1px solid #ffffff;
  padding: 0.67rem 0;
  margin-top: 30px;
}
.footer .container .row .letter button:hover {
  color: #ffffff;
}
.footer .container .row .letter button::after {
  background-color: #b61984;
  color: #ffffff;
}
.footer .container .row .letter button span {
  position: relative;
  z-index: 2;
}
.footer .container .row .letter input {
  border: none;
  padding: 0.67rem 0;
  text-align: center;
  border-radius: 30px;
  border: 1px solid;
  font-size: 16px;
  background-color: #b61984;
  color: #ffffff;
}
.footer .bg-img, .footer .bg-img, .footer .carousel, .footer .carousel .bg-img, .carousel .footer .bg-img, .footer .carousel .carousel, .carousel .footer .carousel, .footer .carousel .footer .bg-img, .footer .carousel .footer .carousel, .carousel .footer .carousel .bg-img, .carousel .footer .carousel .carousel, .footer .carousel, .footer .carousel .bg-img, .footer .carousel .bg-img, .footer .carousel .carousel, .footer .carousel .bg-img, .footer .carousel .carousel, .carousel .footer .bg-img, .carousel .footer .bg-img, .carousel .footer .carousel, .carousel .footer .bg-img, .carousel .footer .carousel, .footer .carousel .carousel, .carousel .footer .carousel {
  background-image: url(../../images/footer_background.jpg);
  height: 475px;
  position: absolute;
  top: 0%;
  z-index: -1;
}