// Biến màu
$color-black: #000000;
$color-white: #ffffff;
$color-pink-purple: #b61984;

// Spacing
$spacing-20: 0.44rem;
$spacing-30: 0.67rem;
$spacing-40: 1rem;
$spacing-50: 1.5rem;
$spacing-60: 2.25rem;
$spacing-70: 3.38rem;
$spacing-80: 5.06rem;

// Font size
$font-size-small: 13px;
$font-size-normal: 16px;
$font-size-medium: 20px;
$font-size-large: 36px;
$font-size-x-large: 60px;

// Font weight

